@charset "utf-8";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.name-headline {
  color: white !important;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3) !important;
}

.navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-item {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subhead-text {
  color: #212822 !important;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3) !important;
  //filter targets git-hub-icon
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.3));
}

// Set your brand colors
$burnt-orange: #b98514;
$mint-green: #a4c8a7;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$light-orange: #f5f1ee;
$rifle-green: #3c493d;
$dark-grey: #434241;

// Update Bulma's global variables
$family-sans-serif: 'Arimo', sans-serif;
$fullhd-enabled: false;
$grey-dark: $dark-grey;
$link: $rifle-green;
$primary: $mint-green;
$widescreen-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $light-orange;
$control-border-width: 2px;
$footer-background-color: #f5f1ee;
$input-border-color: transparent;
$input-shadow: none;
$navbar-height: 5rem;
$navbar-item-img-max-height: 2rem;
$navbar-item-color: $burnt-orange;

// Import only what you need from Bulma
@import '../../node_modules/bulma/bulma.sass';

// @import '../node_modules/bulma/sass/utilities/_all.sass';
// @import '../node_modules/bulma/sass/base/_all.sass';
// @import '../node_modules/bulma/sass/elements/button.sass';
// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
// @import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';
